* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: orange;
}

.container {
    width: 90%;
    margin: 2rem auto;
    border: 1px solid black;
    background-color: blueviolet;

}

.row {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;

}

.square {
    width: calc(100% / 10);
    border: 1px solid black;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 100px;
    text-align: center;
}

.Fizz{
    background-color: yellow;
}
.Buzz{
    background-color: green;
}
.FizzBuzz{
    background-color: lightblue;
}